@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-4">Benvenuto nel nostro database</h1>
        <img src="~/images/logo.png" alt="questo è un logo di scarpe" class="mt-5" /><!--Il logo è stato creato appositamente tramite un sito online-->
    </div>
</div>
